#god{
	margin:auto;
}

#whitebar{
	margin-left:125px;
	width:10px;
	height:290px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3e2c7+0,c19e67+50,b68d4c+51,e9d4b3+100;L+Brown+3D */
background: #f3e2c7; /* Old browsers */
background: -moz-linear-gradient(top,  #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
;
}
#top {
	width:100px;
	height:125px;
	background-color:#925505;
	border-radius: 20px;
	z-index:2;
	position: fixed;
	top: 230px;
	margin-left: 142px;


}


#bottom {
	margin-top:300px;
	margin-left:120px;
	width:150px;
	height:300px;
	background-color:#925505;
	border-radius: 20px;
	z-index: 1;
}


#oval1{
	position: fixed;
	top:20px;
	left: 220px;
	width: 170px;
    height: 300px;
    -webkit-border-radius: 85px;
    -moz-border-radius: 85px;
    border-radius: 85px; 
    background-color:white;
    z-index:2;}

    #oval2{
	position: fixed;
	top:20px;
	left: 18px;
	width: 170px;
    height: 300px;
    -webkit-border-radius: 85px;
    -moz-border-radius: 85px;
    border-radius: 85px; 
    background-color:white;
    z-index:2;}

    #label {

	width:150px;
	height:150px;
	background-color:red;
	
	z-index:2;
	position: fixed;
	margin-top: -220px;
	margin-left: 120px;
	font size: 72px;

    }

    #beer {
    	margin-top: 40px;
    	margin-left:25px;
    	font-size: 40px;

    }

    #cap {
    	z-index:2;
    	margin-top:-380px;
    	margin-left:170px;
    	width:50px;
    	height:40px;
    	background-color: red;
    }